* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

li {
    list-style: none;
}

:root {
    font-family: 'Prompt', sans-serif;
    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --red-500: #ef4444;
    --red-600: #dc2626;
}

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    display: grid;
    align-items: center;
    justify-items: center;
}

.hidden {
    display: none;
}

.hideMenu {
    transform: translate(-15rem);
}

.noMargin {
    margin: 0 !important;
}

.btn:hover {
    cursor: pointer;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* header */

header {
    background-color: var(--slate-200);
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 16px;
    gap: 16px;
    align-items: center;
}

.headerTitle {
    font-size: 3rem;
    font-weight: bold;
}

.headerTitle>span {
    color: var(--red-500);
}

.menuToggle {
    padding: 8px;
    margin: 12px;
    transform: scale(1.5);
}

.menuToggle:hover {
    background-color: var(--slate-300);
    cursor: pointer;
}

.menuToggle:active {
    transform: scale(1.4);
}

/* content */

.content {
    display: grid;
    grid-template-columns: auto 1fr;
    position: relative;
}

/* content/mainMenu */

.mainMenu {
    display: grid;
    align-content: start;
    padding: 16px;
    gap: 8px;
    transition: 1s;
    position: absolute;
    width: 15rem;
}

.mainMenu h2 {
    margin: 8px 0;
}

.mainMenu>.home>h2,
.mainMenu>.projects>h2 {
    border-bottom: solid black 2px;
}

.mainMenu>.home>div,
.mainMenu>.projects>div {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 8px;
    gap: 8px;
}

.mainMenu>.home>div:hover,
.mainMenu>.projects>div:hover {
    cursor: pointer;
    background-color: var(--slate-100);
}

.mainMenu>.home>div:active,
.mainMenu>.projects>div:active {
    background-color: var(--slate-200);
}

.mainMenu>.projects>.projectList>li {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 8px;
    gap: 8px;
}

.mainMenu>.projects>.projectList>li:hover {
    cursor: pointer;
    background-color: var(--slate-100);
}

.mainMenu>.projects>.projectList>li:active {
    background-color: var(--slate-200);
}

/* content/mainContent */

.mainContent {
    background-color: var(--slate-50);
    display: grid;
    align-content: start;
    padding: 8px;
    gap: 8px;
    grid-column: 2/3;
    margin-left: 15rem;
    transition: 1s;
}

.mainContent>.title {
    background-color: var(--red-500);
    padding: 8px;
}

.mainContent>.tasks>.taskList>li {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    background-color: white;
    padding: 8px;
    gap: 8px;
}

.taskList>li>.detailsToggle {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.detailsToggle:hover {
    cursor: pointer;
    background-color: var(--slate-100);
}

.detailsToggle:active {
    background-color: var(--slate-200);
}

.taskList>li>.details {
    grid-column: 3/-1;
}

.mainContent>.tasks>.addTask {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 8px;
    gap: 8px;
    margin-left: 16px;
}

.addTask:hover {
    background-color: var(--slate-200);
    cursor: pointer;
}

.addTask:active {
    background-color: var(--slate-300);
}

/* footer */

footer {
    background-color: var(--slate-200);
    display: grid;
    justify-content: center;
}